{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/forgotpassword.css' %}">
</head>
<body>
    <section id="backblur" class="">
        <div class="box-message">
            <h2><span>T</span>wikLink</h2>
            <p>Your password reset link has been sent to your email. Kindly check your inbox and follow the instructions provided. Thank you for using our services</p>
            <button id="close">Close</button>
        </div>
    </section>
    <section class="Section">
        <div class="div-one">
            <div class="box-Title">
                <h2>Reset Password</h2>
                <p>Enter the email address associated with your account and we'll send you a link to reset your password.</p>
            </div>
            <div class="box-input" >
                <form class="formrest" method="post" >
                    {% csrf_token %}
                    {% comment %} <input type="email" class="input-Email" placeholder="Email Address"> {% endcomment %}
                    {{ form.email }}
                    <button class="btn-reset" onclick="submitForm()" type="submit">Reset</button>
                </form>
            </div>
            
            <p class="signup">Don't Have An account?<a href='{% url "signup" %}'>Signup</a></p>
            <h2 class="Logo"><span>T</span>wikLink</h2>
        </div>
    </section>
    <script src="{% static 'js/forgotPass.js' %}"></script>

    <script>
        let close = document.getElementById("close")
        let backblur = document.getElementById("backblur")
        let boxmessage = document.querySelector(".box-message")
        let btnreset = document.querySelector(".btn-reset")
        close.addEventListener("click",() => {
            boxmessage.classList.remove("active")
            backblur.classList.remove("active")
        })
    </script>
</body>
</html>