{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Sent</title>
    <link rel="icon" href="{% static '/asstes/images/Frame 2.png' %}">
    <link rel="stylesheet" href="{% static '/css/forgotpassword.css' %}">
</head>
<body>
    <section class="Section">
        <div class="div-one">
            <div class="box-Title">
                <h2>Password Reset
                </h2>
                <p>We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
            </div>
            <h2 class="Logo"><span>T</span>wikLink</h2>
        </div>
    </section>

</body>
</html>