{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <link rel="icon" href="{% static 'asstes/images/Frame 2.png' %}">
    <link rel="stylesheet" href="{% static '/css/newpassword.css' %}">
</head>
<body>
    <section class="Section">
        <div class="div-one">
            <div class="box-Title">
                <h2>New Password</h2>
                <p>Create a strong, complex password: Mix upper/lowercase, numbers, special characters. Don't share passwords. Follow guidelines for security</p>
            </div>
            <div class="box-input" >
                <form class="formrest" method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    <div class="box-Newpass">
                        {{ form.password1 }}
                        <p id="textPassword"></p>
                        {{ form.password2 }}
                    </div>

                    <button class="btn-reset" disabled type="submit">Reset</button>
                </form>
            </div>
            
            <h2 class="Logo"><span>T</span>wikLink</h2>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static '/js/newpass.js' %}"></script>
</body>
</html>