@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Inter', sans-serif; */

}
body {
    background: #CEE2FF;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.div-one{
    background: rgba(0, 0, 0, 0.88);
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    border-radius: 25px;
    overflow:hidden;
}

.box-Title{
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    margin-top: 200px;

}
.box-Title > h2{
    -webkit-text-stroke: 1px #5B9DFF;
    color: transparent;
    font-size: 50px;
    letter-spacing: 1px;
}
.SuccessH{
    -webkit-text-stroke: 1px #5bff69 !important;

}

.box-Title > p{

    font-weight: 400;
    max-width: 560px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.69);
}
.SuccessP{
    font-size: 18px !important;
}
.retrunLogin{
    text-decoration: none;
    color: #5bff69;
}
.box-input{
    margin-top: 20px;
    max-width: 460px;
    height: 50px;
    width: 100%;
    position: relative;
    border-radius: 44px;
    overflow: hidden;
    border: 1.5px solid #5B9DFF;
}
.box-input form {
    width: 100%;
    height: 100%;
}
.box-input input{
    color: #fff;
    width: 100%;
    height: 100%;
    font-weight: 600;
    border: none;
    background: rgba(69, 69, 69, 0.65);
    outline: none;
    padding: 0 15px;
}
.box-input input::placeholder{
    font-weight: 700;
    letter-spacing: .5px;
    color: #ffffffc9;
}
.box-input button{
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 90%;
    background: rgba(0, 102, 255, 1);
    font-weight: 600;
    border-radius: 44px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    right: 2px;
    top: 50%;
    transform: translate(0%, -50%);
}

.signup{
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .7px;
    font-size: 12px;
    text-transform: capitalize;
    white-space: nowrap;
}
.signup > a {
    color: #5B9DFF;
    text-decoration: none;
    margin-left: 2px;
}
.Logo{
    font-size: 46px;
    color: #fff;
    position: absolute;
    bottom: 0;
}
.Logo > span{
    margin: 0 3px;
    font-size: 50px;
    color: rgba(0, 102, 255, 1);
    
}
.Logo.G > span{
    color: rgb(0, 255, 115) !important;
    
}
#backblur.active{
    width: 100%;

}
#backblur{
    transition: width 800ms ease;
    position: absolute;
    z-index: 1000000;
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 0, 0.88);
}
.box-message.active{
    display: flex;
}
.box-message{
    transition: all .5s ease-in-out;
    border:1px solid #5b9dff96;
    border-radius: 26px;
    color: #fff;
    background: #1b1b1b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100001;
    width: 550px;
    height: 250px;
    display: none;
    flex-direction: column;
    align-items: center;
    
}
.box-message h2{
    width: 100%;
    height: 30%;
    font-size: 36px;
    text-align: center;
    margin-top: 25px;
}

.box-message h2 span{
    color: rgba(0, 102, 255, 1);
    font-size: 40px;

}
.box-message p {
    width: 70%;
    height: auto;
    font-size: 14px;
    font-weight:600;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.79);
    text-align: center;
}
.box-message button{
    width: 80px;
    border: none;
    outline: none;
    border-radius: 16px;
    background:rgba(0, 102, 255, 1);
    font-weight: 600;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 40px;
    cursor: pointer;
}



@media (max-width:1150px){
    .div-one{
        height: 90%;
    }
}


@media (max-width:670px){
    .box-message{
        width: 80%;
        height: auto;
        padding-bottom: 80px;
    }
    .div-one{
        align-items: center;
        justify-content: center;
    }
    .box-Title{
        margin-top: 0;
    }
    .box-Title > h2{
        font-size: clamp(1.5625rem, 0.6324rem + 5.9524vw, 3.125rem);
    }
    .box-Title > p{
        margin:  10px 20px;
        font-size: clamp(0.875rem, 0.8006rem + 0.4762vw, 1rem);
    }
}
@media (max-width:450px){
    .box-input{
        width: 95%;
    }
    .box-Title > p{
        margin:  10px 10px;
    }
    .box-Title{
        height: auto;
    }
    .signup {
        font-size: 10px;
    }
}

@media (max-height:770px){
    .box-Title{
        margin-top: 100px;
    }
}
@media (max-height:620px){
    .box-Title{
        margin-top: 50px;
    }
}
@media (max-height:554px){
    .box-Title{
        margin-top: 25px;
    }
}