@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: 'Poppins', sans-serif;

}
body {
    background: #CEE2FF;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.div-one{
    background: rgba(0, 0, 0, 0.88);
    width: 90%;
    height: 90%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    flex-direction: column;
    border-radius: 25px;
    overflow:hidden;
}

.box-Title{
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    margin-top: 200px;
}
.box-Title > h2{
    -webkit-text-stroke: 1px #81ff5b;
    color: transparent;
    font-size: 50px;
    letter-spacing: 1px;
}
.box-Title > p{

    font-weight: 400;
    max-width: 560px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.69);
}
.box-input{
    margin-top: 20px;
    max-width: 460px;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}
.box-input form {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}
.box-Newpass{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.box-Newpass > p {
    height: 23px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-weight: 600;
    color: #47b425;
    opacity: 0;
}

.input-password{
    z-index: 1000000;
    color: #fff;
    width: 100%;
    height: 50px;
    font-weight: 600;
    border: none;
    background: rgba(69, 69, 69, 0.65);
    outline: none;
    padding: 0 15px;
    border-radius: 15px;
}
.btn-reset{
    cursor: pointer;
    width: 85%;
    height: 40px;
    background: #398b20;
    font-weight: 600;
    border-radius: 44px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    transition: background .5s ease;
}
.btn-reset:hover{
    background: #47b425;

}
.input-password::placeholder{
    font-weight: 700;
    letter-spacing: .5px;
    color: #ffffffc9;
}


.Logo{
    font-size: 46px;
    color: #fff;
    position: absolute;
    bottom: 0;
}
.Logo > span{
    margin: 0 3px;
    font-size: 50px;
    color: #47b425;
    
}




@media (max-width:1150px){
    .div-one{
        height: 90%;
    }
}


@media (max-width:670px){
    .div-one{
        align-items: center;
        justify-content: center;
    }
    .box-Title{
        margin-top: 0;
    }
    .box-Title > h2{
        font-size: clamp(1.5625rem, 0.6324rem + 5.9524vw, 3.125rem);
    }
    .box-Title > p{
        margin:  10px 20px;
        font-size: clamp(0.875rem, 0.8006rem + 0.4762vw, 1rem);
    }
}
@media (max-width:450px){
    .box-Title > p{
        margin:  10px 10px;
    }
    .box-Title{
        height: auto;
    }
}

@media (max-height:770px){
    .box-Title{
        margin-top: 100px;
    }
}
@media (max-height:620px){
    .box-Title{
        margin-top: 50px;
    }
}
@media (max-height:554px){
    .box-Title{
        margin-top: 25px;
    }
}